CI

Зашел на travis через гит, добавил этот репозиторий, создал файл requirements.txt и .travis.yml. В итоге при новом пуше на гит весь код прогоняется на тестах. Настроил отправку уведомлений об окончании тестирования(с любым результатом) на почту, если хотите попробовать, то допишите свою почту в файл .travis.yml. 

Тесты

Я взял свой код для шифровки и дешифровки англоязычного текста

-юнит тестирование:
	добавил тесты для всех основных функций то есть на работу с файлами, работу обоих шифраторов, дешифраторов(с обоими шифрами)

-стресс тестирование
	я сделал много раз большие случайные  тесксты,  зашифровал, дешифровал, проверил на совпадение с исходным

-нагрузочные тесты:
	скачал большие книги и запустил на них

-юзабилити тесты:
	отказался от них потому что, при написании шифратора не предполагалось его использование как такогого.